.main{
    display: flex;
    flex-direction: column;
    font-family:'Montserrat-SemiBold', sans-serif;
    margin-left: 10%;
    .title{
        font-size: 39px;
        padding-left: 10%;
    }
    .cards{
        align-self: center;
        margin-left: 10%;
        margin-right: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
    }
    .loadMore{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
    .aboutUs{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 20px;
        padding-left: 10%;
        padding-right: 10%;
        .title{
            font-size: 34px;
            margin: 0;
            padding: 0;
        }
        .text{
            font-size: 16px;
            font-family:'Montserrat-Regular', sans-serif;
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

