
.headerMain{
    .largeView{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family:'Montserrat-SemiBold', sans-serif;
        height: 100px;
        padding-left: 5%;
        padding-right: 5%;
        .leftItems{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            font-size: 15px;
            .logo{
                margin-right: 30px;
            }
            .leftItem{
                display: flex;
                align-items: center;
                margin-left: 30px;
                height: 100px;
            }
            .leftItem:hover{
                cursor: pointer;
                border-bottom: 2px solid #0094DA;
            }

        }
        .rightItems{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            .rightItem{
                margin-right: 15px;
                .rightItemImg{
                    height: 30px;
                    display: block;
                }
                .rightItemImgHover{
                    display: none;
                }
            }
            .rightItem:hover{
                cursor: pointer;
                .rightItemImg{
                    display: none;
                }
                .rightItemImgHover{
                    display: block;
                    height: 30px;
                }
            }
        }
    }
    .smallView{
        display: none;
    }
}

@media (min-width:1250px) and (max-width:1400px){
    .headerMain{
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media (max-width:1400px){
    .headerMain{
        .largeView{
            padding-left: 1%;
            padding-right: 1%;
            .leftItems{
                .logo{
                    margin-right: 10px;
                }
                .leftItem{
                    margin-left: 15px;
                }
        
            }
            .rightItems{
                .rightItem{
                    margin-right: 5px;
                }
            }
        }
    }
}

@media (max-width:1150px){
    .headerMain{
        .largeView{
            display: none; 
        }
        .smallView{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-family:'Montserrat-SemiBold', sans-serif;
            height: 100px;
            padding-left: 3%;
            padding-right: 3%;
            .menu{
                width: 20%;
                img{
                    cursor: pointer;
                }
                .menuItems{
                    background: linear-gradient(to right, white, 95%,  rgb(172, 172, 172));
                    height: 100%;
                    width: 300px;
                    z-index: 1;
                    top:0;
                    left:0;
                    display:flex;
                    position: fixed;
                    flex-direction: column;
                    justify-content: flex-start;
                    .close{
                        cursor: pointer;
                        align-self: flex-end;
                        margin-bottom: 10px;
                        img{
                            height: 30px;
                        }
                    }
                    .menuItem{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        height: 50px;
                        cursor: pointer;
                        p{
                            margin-left: 15px;
                            font-size: 11px;
                            text-transform: uppercase;
                        }
                        img{
                            margin-right: 15px;
                            height: 15px;
                        }
                        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                    }
                }
            }
            .logo{

            }
            .rightItems{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: 20%;
                .rightItem{
                    margin-right: 15px;
                    .rightItemImg{
                        height: 30px;
                        display: block;
                    }
                    .rightItemImgHover{
                        display: none;
                    }
                }
                .rightItem:hover{
                    cursor: pointer;
                    .rightItemImg{
                        display: none;
                    }
                    .rightItemImgHover{
                        display: block;
                        height: 30px;
                    }
                }
            }
        }
        
    }

}

@media (max-width:500px){
    .headerMain{
        .smallView{
            .logo{
                img{
                    height: 10px;
                }
            }
        }
    }
}