.phoneCard{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 685px;
    width: 290px;
    margin: 10px;
    border: solid rgba(0, 0, 0, 0.15) 1px;
    font-family:'Montserrat-SemiBold', sans-serif;
    .favoriteAndCompare{
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 15px;
        margin: 10px;
        margin-bottom: 60px;
    }
    .phoneImage{
        align-self: center;
        margin: 5px;
        img{
            cursor: pointer;
        }
    }
    .colors{
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: center;
        margin: 5px;
    }
    .storage{
        display: flex;
    }
    .phoneName{
        cursor: pointer;
        p{
            font-size: 20px;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }
    .price{
        text-align: center;
        .oldPrice{
            color: #7D7D7D;
            padding: 0px;
            margin: 0px;
            font-size: 17px;
            text-decoration:line-through;
        }
        .newPrice{
            padding: 0px;
            margin: 0px;
            font-size: 25px;
        }
        .availability{
            color: #787878;
            padding: 0px;
            margin: 5px;
            font-family:'Montserrat-Regular', sans-serif;
            font-size: 14px;
        }
    }
    .buy{
        margin: 10px;
    }
    
}
.phoneCard:hover{
    border: solid rgba(0, 0, 0, 1) 1px;
}